<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-neutral-900">
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white rounded-lg shadow-lg p-16">
            <form action="/login" method="POST">
                h2.text-4xl.font-bold.text-left.p-2.mb-1 Login
                <div>
                    <input class="border-2 w-96 my-1 p-2 appearance-none border-neutral-200 rounded-xl transition-all placeholder-neutral-200" type="username" name="username" id="username" placeholder="Username" required>
                </div>
                <div>
                    <input class="border-2 w-96 my-1 p-2 appearance-none border-neutral-200 rounded-xl transition-all placeholder-neutral-200" type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div>
                    <button class="w-96 mt-1 bg-blue-500 text-white rounded-xl py-2 px-8 transition-all hover:bg-blue-600" type="submit">Login</button>
                    p.text-center.mt-2
                        a(href="/signup") New here?
                    p.text-center.mt-1
                        a(href="/resetpassword") Forgot your password?
                </div>
            </form>
        </div>
    </div>
</body>
</html>